
body, #planetheader h1, #planetheader h2 {
    padding: 0px;
    margin: 0px;
}

#planetheader, #planetfooter {
    background: rgb(0,0,0) url(images/header-bg.png) repeat-x top left;
    height: 115px;
    padding-right: 20px;
    margin-bottom: 70px;
}
#planetfooter {
    margin-bottom: 0px;
    text-align: right;
    color: white;
}
#planetheader h1 {
    background: url(images/logo.png) no-repeat center left;
    height: 115px;
    text-align: right;
    width: 100%;
    color: rgb(192,192,192);
    font-size: 34px;
}
#planetheader h2 {
    width: 100%;
    text-align: right;
    font-size: 18px;
    padding-top: 5px;
    padding-right: 20px;
    font-style: italic;
    font-weight: normal;
}

#planetheader a, #planetheader a:visited {
    color: rgb(22,80,120);
    text-decoration: none;
}
#planetheader a:hover {
    text-decoration: underline;
}

#planetposts a, #planetposts a:visited,
#planetsidebar a, #planetsidebar a:visited {
    color: rgb(22,80,120);
    text-decoration: none;
}
#planetfooter a, #planetfooter a:visited {
    color: white;
    text-decoration: none;
}
#planetposts a:hover,
#planetsidebar a:hover {
    text-decoration: underline;
}

#planetposts {
    width: 70%;
    margin-left: 8%;
}
#planetsidebar {
    width: 20%;
    float: right;
}

h2.planetdate {
    margin-top: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid rgb(120,120,120);
    text-align: right;
    padding: 0px;
    margin: 0px;
    color: rgb(120,120,120);
}

h3.planetchannel {
    float: left;
    width: 20%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 1em;
}

span.planetface {
display: block;
    padding: 1em;
}

div.planetitem {
    width: 75%;
    margin-left: 23%;
    overflow: auto;
}

div.planetitem > h3 {
    margin: 0px;
    padding: 0px;
    margin-top: 1em;
}

#planetsidebar ul {
    list-style: none;
}
#planetsidebar {
    padding-right: 1em;
    text-align: right;
}

#planetsidebar div {
    padding-bottom: 4em;
}

p.planetauthor {
    margin-bottom: 4em;
}
