<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<feed xmlns="http://www.w3.org/2005/Atom">

	<title>{{ name | e }}</title>
	<link rel="self" href="{{ feed | e }}"/>
	<link href="{{ link | e }}"/>
	<id>{{ feed | e }}</id>
	<updated>{{ date_iso }}</updated>
	<generator uri="http://www.planetplanet.org/">{{ generator | e }}</generator>

{% for i in Items %}
	<entry{% if i.channel_language %} xml:lang="{{ i.channel_language}}"{% endif %}>
		<title type="html"{% if i.title_language %} xml:lang="{{ i.title_language }}"{% endif %}>{{ i.title | e }}</title>
		<link href="{{ i.link | e }}"/>
		<id>{{ i.id | e }}</id>
		<updated>{{ i.date_iso }}</updated>
		<content type="html"{% if i.content_language %} xml:lang="{{ i.content_language }}"{% endif %}>{{ i.content | e }}</content>
		<author>
{% if i.author_name %}
			<name>{{ i.author_name | e }}</name>
  {% if i.author_email %}
			<email>{{ i.author_email | e }}</email>
  {% endif %}
{% else %}
  {% if i.channel_author_name %}
			<name>{{ i.channel_author_name | e }}</name>
    {% if i.channel_author_email %}
			<email>{{ i.channel_author_email | e }}</email>
    {% endif %}
  {% else %}
			<name>{{ i.channel_name | e }}</name>
  {% endif %}
{% endif %}
			<uri>{{ i.channel_link | e }}</uri>
		</author>
		<source>
{% if i.channel_title %}
			<title type="html">{{ i.channel_title | e }}</title>
{% else %}
			<title type="html">{{ i.channel_name | e }}</title>
{% endif %}
{% if i.channel_subtitle %}
			<subtitle type="html">{{ i.channel_subtitle | e }}</subtitle>
{% endif %}
			<link rel="self" href="{{ i.channel_url | e }}"/>
{% if i.channel_id %}
			<id>{{ i.channel_id | e }}</id>
{% else %}
			<id>{{ i.channel_url | e }}</id>
{% endif %}
{% if i.channel_updated_iso %}
			<updated>{{ i.channel_updated_iso }}</updated>
{% endif %}
{% if i.channel_rights %}
			<rights type="html">{{ i.channel_rights | e }}</rights>
{% endif %}
		</source>
	</entry>

{% endfor %}
</feed>
